---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        <b>陈果课题组</b>致力于研究世界未解之谜<b>目前专注于研究金字塔的建造</b>。金字塔的建造之谜核心在于，古埃及人究竟如何在缺乏现代机械的情况下<b>，以惊人的精度运输和垒砌重达数吨的巨石</b>，其内部隐藏的密室和复杂结构也仍在不断挑战着考古学家的认知</b>。小组运用了世界领先的克隆技术复活了牛顿、爱因斯坦等人作为小组成员，因此此小组目前可以认为是全球领先的课题组</b>。
    </p>
    <p>
    The <b>Billy Research Group</b> Dedicated to investigating the world's unsolved mysteries <b>currently focusing on the construction of the pyramids</b>. The core enigma of pyramid building lies in how the ancient Egyptians, without modern machinery <b>, managed to transport and align massive stones weighing several tonnes with astonishing precision</b> . The hidden chambers and intricate structures within continue to challenge archaeologists' understanding</b>. The team has utilised world-leading cloning technology to resurrect figures such as Newton and Einstein as members of the group; as such, this team can currently be regarded as a world-leading research group</b>.
    </p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>
	 <h2>AI Chatbot for you to chat with:</h2>
	<script
		type="module"
		src="https://gradio.s3-us-west-2.amazonaws.com/6.5.1/gradio.js"
	></script>

<gradio-app src="https://billychen47-gpt.hf.space"></gradio-app>

</section>
	 <h2>MusicGen Streaming for you to relax:</h2>
	<script
		type="module"
		src="https://gradio.s3-us-west-2.amazonaws.com/6.3.0/gradio.js"
	></script>

<gradio-app src="https://sanchit-gandhi-musicgen-streaming.hf.space"></gradio-app>

</section>
	 <h2>Incase you from different area we have translator for you:</h2>
	<script
		type="module"
		src="https://gradio.s3-us-west-2.amazonaws.com/4.44.1/gradio.js"
	></script>

<gradio-app src="https://helsinki-nlp-opus-translate.hf.space"></gradio-app>

</section>
	 <h2>Animation and Replacement with Holistic Replication:</h2>
	<script
		type="module"
		src="https://gradio.s3-us-west-2.amazonaws.com/5.47.2/gradio.js"
	></script>

<gradio-app src="https://wan-ai-wan2-2-animate.hf.space"></gradio-app>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
